PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/pizza-delivery
JWT_SECRET=supersecretpizzadelivery
EMAIL_USER=
EMAIL_PASS=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
ADMIN_EMAIL=admin@pizzapro.com
FRONTEND_URL=http://localhost:5173
